@use '../../../app/shared/styles/variables' as vars;
@use '../../../app/shared/styles/mixins' as mix;

.task-list-container {
  padding: 1rem 0;
}

.priority-badge {
  font-size: 0.75rem;
  font-weight: 600;
}

.task-description {
  font-size: 0.9rem;
  margin-bottom: 0;
  // Limit to 3 lines of text with ellipsis
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}