<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Task Manager</a>
    <button class="navbar-toggler" type="button" (click)="toggleMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngClass]="{ show: isMenuOpen }">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/tasks/list" routerLinkActive="active"
            >Liste des tâches</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/tasks/create"
            routerLinkActive="active"
            >Créer une tâche</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/tasks/history"
            routerLinkActive="active"
            >Historique</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/forms-demo"
            routerLinkActive="active"
            >Forms Demo</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/http-demo"
            routerLinkActive="active"
            >HTTP Demo</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/pipes-demo"
            routerLinkActive="active"
            >Pipes Demo</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/styleguide"
            routerLinkActive="active"
            >Styleguide</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
