@use '../../../../shared/styles/variables' as vars;
@use '../../../../shared/styles/mixins' as mix;

:host {
  display: inline-block;
}

.btn {
  @include mix.transition-base;
  position: relative;
  white-space: nowrap;
  
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(vars.$primary, 0.25);
  }
  
  &.btn-primary {
    &:hover {
      background-color: darken(vars.$primary, 7.5%);
      border-color: darken(vars.$primary, 10%);
    }
  }
  
  &.btn-secondary {
    &:hover {
      background-color: darken(vars.$secondary, 7.5%);
      border-color: darken(vars.$secondary, 10%);
    }
  }
  
  &.w-100 {
    display: block;
  }
}